
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom  alert alert-info mt-2">
    <h1 class="h5">لیست نقش ها</h1>
</div>

<div class="col-md-8 mt-3">
    <div class="input-group mb-3">
        <button class="btn btn-outline-secondary" (click)="addRole()" type="button" id="button-addon1">افزودن</button>
        <input type="text" class="form-control" [(ngModel)]="roleName" placeholder="عنوان نقش را وارد نمائید">
      </div>
</div>
<div class="col-md-10 p-2 mt-3">

    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>ردیف</th>
                <th>نقش</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of roles;index as i">
                <td>{{i+1}}</td>
                <td>{{item.name}}</td>
            </tr>
        </tbody>
    </table>
</div>