<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom  alert alert-info mt-2">
    <h5 class="text-center">تغییر رمز عبور </h5>
    <!-- <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
        <button type="button" class="btn btn-sm btn-outline-secondary">1</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">2</button>
    </div>
    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
        <span data-feather="calendar" class="align-text-bottom"></span>
        3 
    </button>
</div> -->
</div>
<main class="form-signin m-auto text-center justify-content-center">
    <div class="card text-center" style="width: 400px;">
        <div class="card-header h5 text-white bg-primary">تغییر رمز عبور</div>
        <div class="card-body px-5">
            <p class="card-text py-2">
                شما میتوانید در این قسمت رمز عبور خود را تغییر دهید
            </p>
            <div class="form-outline">
                <input type="text" id="typeEmail"  [(ngModel)]="newPassword" class="form-control my-3" />
                <label class="form-label" for="typeEmail">رمز عبور جدید</label>
            </div>
            <a (click)="changePassword()" class="btn btn-primary w-100">تغییر رمز</a>
            <!-- <div class="d-flex justify-content-between mt-4">
                <a class="" href="#">ورود </a>
                <a class="" href="#">ثبت نام</a>
            </div> -->
        </div>
    </div>

    <!-- <div>

        <div class="form-floating">
            <input type="password" [(ngModel)]="newPassword" class="form-control" id="floatingPassword"
                placeholder="Password">
            <label for="floatingPassword">رمز عبور</label>
        </div>

        <a class="w-100 btn btn-lg btn-primary mt-4" (click)="changePassword()">تغییر رمز عبور</a>

    </div> -->
</main>