<!-- <div class=" col-4 mt-2 text-center">
    <div class=" float-center">


        <div class="form-signin">
            <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72"
                height="72">
            <h1 class="h3 mb-3 font-weight-normal">ورود کاربران</h1>

            <label for="inputEmail" class="sr-only">نام کاربری</label>
            <input type="text" class="form-control" [(ngModel)]="loginDto.username"  placeholder="نام کاربری">
            
            <label for="inputPassword" class="sr-only">رمز عبور</label>
            <input type="password" class="form-control" [(ngModel)]="loginDto.password" placeholder="رمز عبور">
          
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> مرا بخاطر بسپار
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="button" (click)="loginUser()">ورود</button>
            <br />
            <span class="" type="button" routerLink="/register">ثبت نام</span>
            <span class="btn btn-warning" type="button" (click)="resetPassword()">بازنشانی رمز عبور</span>
            <span class="" type="button" routerLink="/forget-password" >فراموشی رمز عبور</span> 
        </div>

    </div>
</div> -->

<main class="form-signin m-auto col-md-4 text-center">
    <div>
        <img class="mb-4" src="/assets/Image/Logo32.png" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">ورود کاربران</h1>

        <div class="form-floating">
            <input type="email" [(ngModel)]="loginDto.username" class="form-control" id="floatingInput"
                placeholder="name@example.com">
            <label for="floatingInput">نام کاربری</label>
        </div>

        <div class="form-floating">
            <input type="password" [(ngModel)]="loginDto.password" class="form-control" id="floatingPassword"
                placeholder="Password">
            <label for="floatingPassword">رمز عبور</label>
        </div>

        <a class="w-100 btn btn-lg btn-primary mt-4" (click)="loginUser()">ورود کاربر</a>


        <br />
        <div class="d-flex justify-content-center align-items-center mt-4">
            <span class="btn btn-info m-2" type="button" routerLink="/register">ثبت نام</span>
            <span class="btn btn-warning m-2" type="button" (click)="resetPassword()">بازنشانی رمز عبور</span>
            <span class="btn btn-primary m-2" type="button" routerLink="/forget-password">فراموشی رمز عبور</span>
        </div>


        <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>

    </div>
</main>