<div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom  alert alert-info mt-2">
    <h5 class="text-center">سفارشات </h5>
    <!-- <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
        <button type="button" class="btn btn-sm btn-outline-secondary">1</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">2</button>
    </div>
    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
        <span data-feather="calendar" class="align-text-bottom"></span>
        3 
    </button>
</div> -->
</div>

<main class="form-signin m-auto text-center">
    <div>

        <table class="table">
            <thead class="table-dark">
                <tr>
                    <td>#</td>
                    <td>شناسه سفارش</td>
                    <td>وضعیت سفارش</td>
                    <td>پرداخت</td>
                    <td>مبلغ</td>
                    <td>عملیات</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="!orders">
                    <td colspan="6">
                        <div class="alert alert-danger text-center">
                            <span>اطلاعات یافت نشد</span>
                        </div>
                    </td>
                </tr>
                <tr *ngFor="let item of orders;let i=index;">
                    <td>{{i}}</td>
                    <td>{{item.orderNumber}}</td>
                    <td><i
                            [ngClass]="{ 'bi bi-check-circle text-success':item.isActive,'bi bi-x-circle text-danger':!item.isActive }"></i>
                    </td>
                    <td><i
                            [ngClass]="{ 'bi bi-check-circle text-success':item.isPayment,'bi bi-x-circle text-danger':!item.isPayment }"></i>
                    </td>
                    <td>{{item.price | number:'3.0'}}</td>
                    <td>
                        <a class="text-info" routerLink="/invoice" [queryParams]="{orderNumber: item.orderNumber}">
                            <i class="bi bi-receipt"></i>
                            فاکتور
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>


    </div>
</main>