<div *ngIf="isLoggedUser" class="d-flex">
    <li>
        <a class="nav-link">
            <i class="bi bi-person-circle"></i>
            پنل کاربری
        </a>
    </li>
    <li><a href="" routerlink="/user/Login" class="nav-link"><i class="bi bi-x-circle-fill"></i> خروج</a></li>
</div>
<div class="d-flex" *ngIf="!isLoggedUser">
    <li><a href="" routerlink="/Register" class="nav-link"><i class="bi bi-box-arrow-right"></i> Sign Up</a></li>
    <li><a href="" routerlink="/Login" class="nav-link"><i class="bi bi-key"></i> Login</a></li>
</div>