
<div class="col-md-8  p-2 m-2">

    <!-- <div class="form-group">
        <label class="form-label">تصویر </label>
        <img [src]="imageSrc" *ngIf="imageSrc" style="height: 300px; width:500px">
    </div> -->

    <!-- <div class="form-group">
        <label class="form-label">تصویر محصول</label>
        <input type="file" class="form-control" (change)="onchangeImage($event)" [(ngModel)]="tempfile" placeholder="تصویر محصول را انتخاب کنید">
    </div> -->


    <div class="form-group">
        <label class="form-label">نام محصول</label>
        <input type="text" class="form-control" [(ngModel)]="productDto.title" placeholder="نام محصول">
    </div>

    <div class="form-group">
        <label class="form-label">قیمت</label>
        <input type="text" class="form-control" [(ngModel)]="productDto.price" placeholder="قیمت">
    </div>
    
    <div class="from-group">
        <label class="form-label">دسته بندی</label>
        <select class="form-select" name="" id="" [(ngModel)]="productDto.categoryId">
            <option value="">دسته بندی را انتخاب کنید</option>
            <option value="{{cat.id}}" *ngFor="let cat of listOfCategory">{{cat.categoryName}}</option>
        </select>
    </div>

<div class="from-group">
    <label class="form-label">برند</label>
    <select class="form-select" name="" id="" [(ngModel)]="productDto.brandId">
        <option value="">برند را انتخاب کنید</option>
        <option value="{{item.id}}" *ngFor="let item of listOfBrand">{{item.brandName}}</option>
    </select>
</div>

    <fieldset class="form-group">
        <legend class="mt-4">وضعیت</legend>
        <div class="form-check form-switch">
            <input class="form-check-input" [(ngModel)]="productDto.isActive" type="checkbox"
                id="flexSwitchCheckChecked" checked="">
            <label class="form-check-label" for="flexSwitchCheckChecked">محصول فعال باشد </label>
        </div>
    </fieldset>

    <a class="btn btn-success mt-4 text-center" (click)="addProduct()">ثبت محصول</a>

</div>

