<div class="container  text-center">
    <div class="alert alert-warning">
        <h3>
            شما به این صفحه دسترسی ندارید
        </h3>
    </div>

</div>

<div class="container px-4 text-center">
    <div class="row gx-5">
        <div class="col">
            <div class="p-3 ">
                <button class="btn btn-info" routerLink="">بازگشت به فروشگاه</button>
            </div>
        </div>
        <div class="col">
            <div class="p-3 ">
                <button class="btn btn-info" routerLink="Login">صفحه ورود کاربران</button>
            </div>
        </div>
    </div>
</div>