
<main class="form-signin m-auto col-md-4 text-center">
    <form>
        <img class="mb-4" src="/assets/Image/Logo32.png" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">بازیابی رمز عبور</h1>

        <div class="form-floating">
            <input type="email"  class="form-control" id="floatingInput" [(ngModel)]="email"
                placeholder="name@example.com">
            <label for="floatingInput">ایمیل کاربر</label>
        </div>

        <a class="w-100 btn btn-lg btn-primary mt-4" (click)="sendNewPassword()">بازنشانی رمز عبور</a>

        <br />
        <div class="d-flex justify-content-center align-items-center mt-4">
            <span class="btn btn-info m-2" type="button" (click)="sendNewPassword()" routerLink="/login">ورود</span>
        </div>


        <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>

    </form>
</main>

