
<main class="form-signin m-auto col-md-4 text-center">
    <form>
        <img class="mb-4" src="/assets/Image/Logo32.png" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">ثبت نام کاربران</h1>

        <div class="form-floating">
            <input type="email"  class="form-control" id="floatingInput"
                placeholder="name@example.com">
            <label for="floatingInput">نام کاربری</label>
        </div>

        <div class="form-floating">
            <input type="password"  class="form-control" id="floatingPassword"
                placeholder="Password">
            <label for="floatingPassword">رمز عبور</label>
        </div>

        <a class="w-100 btn btn-lg btn-primary mt-4" >ثبت نام</a>


        <br />
        <div class="d-flex justify-content-center align-items-center mt-4">
            <span class="btn btn-info m-2" type="button" routerLink="/login">ورود</span>
        </div>


        <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>

    </form>
</main>

