<div class="col-md-8  p-2 m-2">

    <div class="form-group">
        <label class="form-label">نام دسته بندی</label>
        <input type="text" class="form-control" [(ngModel)]="addCategory.categoryName" placeholder="نام کاربری">
    </div>

    <fieldset class="form-group">
        <legend class="mt-4">وضعیت</legend>
        <div class="form-check form-switch">
            <input class="form-check-input" [(ngModel)]="addCategory.isEnable" type="checkbox"
                id="flexSwitchCheckChecked" checked="">
            <label class="form-check-label" for="flexSwitchCheckChecked">دسته بندی فعال باشد </label>
        </div>
    </fieldset>

    <a class="btn btn-success mt-4 text-center" (click)="addNewCategory()">ثبت دسته بندی</a>

</div>