<a routerLink="cart"
    class=" d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
    <i class="bi bi-cart4 fa-lg"></i>
    <span class="badge rounded-pill badge-notification bg-danger">
        {{numberOfCart}}
    </span>
</a>
<!-- 
<a routerLink="cart"
    class="btn btn-sm btn-outline-success d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">

    <i class="bi bi-cart4" style="font-size:24px"></i>
    <span class='badge badge-warning' id='lblCartCount'> {{numberOfCart}} </span>
</a> -->